<div class="extra-padding">
    {{#if error}}
        <h3 style="text-align:center;">contact-failure</h3>
        <p style="text-align:center;">If error persists please email er.personaltraining@outlook.com</p>
    {{else}}
        <h3 style="text-align:center;">Email sent sucessfully!</h3>
    {{/if}}
</div>