<div class="col-lg-12 extra-padding" style="padding-top: 140px">
<h1 style="padding-bottom: 20px">Privacy policy</h1>

<h3>1. Introduction and General Terms</h3>

<p>Evan Rupp Personal Training is committed to protecting your personal information when you are using Evan Rupp Personal Training services. We want our services to be safe and enjoyable environments for our customers. This Privacy Policy relates to our use of any personal information you provide to us through the evanrupppersonaltraining.com website. In order to provide you with full range of services, we are sometimes required to collect information about you. This privacy policy explains the following:
what information Evan Rupp Personal Training
may collect about you;
how Evan Rupp Personal Training
will use information we collect about you;
whether Evan Rupp Personal Training will disclose your details to anyone else;
your choices regarding the personal information you have provided to us;
the use of cookies on Evan Rupp Personal Training websites and how you can reject these cookies.
As set out above, Evan Rupp Personal Training is committed to safeguarding your personal information. Whenever you provide such information, we are legally obliged to use your information in line with all laws concerning the protection of personal information, including the Data Protection Act 1998 (these laws are referred to collectively in this Privacy Policy as the “data protection laws”). The website contains hyperlinks to websites owned and operated by third parties. These third party websites have their own privacy policies, including cookies, and we urge you to review them. They will govern the use of personal information you submit or are collected by cookies whilst visiting these websites. We do not accept any responsibility or liability for the privacy practices of such third party websites and your use of such websites is at your own risk.
</p>
<h3>2. What information will Evan Rupp Personal Training collect about me?</h3>
<p>
We may ask for personal information about you. This can consist of information such as your name, e mail address, postal address, mobile number. Different web pages for example our contact page, may ask for different personal information. By entering your details in the fields requested, you enable Evan Rupp Personal Training to provide you with the services in which you select.
</p>
<h3>3. How will Evan Rupp Personal Training use the information you collect about me?</h3>

<p>Evan Rupp Personal Training will use your personal information for a number of purposes including the following:
For providing services to you in the way of sending goods to your address.
For marketing purposes including email correspondence.
Where Evan Rupp Personal Training proposes using your personal information for any other uses we will ensure that we notify you first. You will also be given the opportunity to withhold or withdraw your consent for your use other than as listed above.
</p>
<h3>4. When will Evan Rupp Personal Training contact me? Evan Rupp Personal Training may contact you:</h3>
<p>
In relation to the order you have placed on the website
To ensure that Evan Rupp Personal Training can deliver the services to you.
To let you know of new product launches and changes to evanrupppersonaltraining.com.
</p>
<h3>5. Will I be contacted for marketing purposes?</h3>
<p>
Evan Rupp Personal Training may contact you for marketing purposes, or promote new services to you unless you specifically agree to be contacted for these purposes.
</p>
<h3>6. Will Evan Rupp Personal Training share my personal information with anyone else?</h3>
<p>
We will keep your information confidential except where disclosure is required or permitted by law (for example to government bodies and law enforcement agencies).
</p>
<h3>7. Changes to Privacy Policy</h3>
<p>
This privacy policy may be updated from time to time so you may wish to check it each time you submit personal information to the website. The date of the most recent revisions will appear on the page.
</p>
<h3>8. Contacting Evan Rupp Personal Training about this Privacy Policy</h3>
<p>
If you have any questions or comments about this Privacy Policy please contact; Evan Rupp Personal Training er.personaltraining@outlook.com
</p>
</div>